<%-include('cabecalho.ejs')%>
<div class="my-3 justify-content-end" id="navbarSupportedContent">
    <form class="d-flex" method="post" role="search">
        <input class="form-control me-2" name="pesquisar" type="search" placeholder="Buscar"
            aria-label="Search">
        <button class="btn btn-secundary bg-danger bg-gradient p-2 " type="submit">Buscar</button>
    </form>                            
</div>
<table class="table table-hover rounded">
    <tr>
        <th>Título</th>
        <th>Tags</th>
        <th>Foto</th>
        <th>Status</th>
        <th>Editar</th>
        <th>Deletar</th>
    </tr>
    <% Posts.forEach(function(post){ %>
    <tr>
        <td><%=post.titulo%></td>
        <td><%=post.tags%></td>
        <td>
            <img class="img-thumbnail img-fluid" src="/<%=post.foto%>" width="200" alt="Foto do post">
        </td>
        <td><%=post.status%></td>
        <td>
            <a href="/postedit/<%=post._id%>">Editar</a>
        </td>
        <td>
            <a href="/postdelete/<%=post._id%>">Deletar</a>
        </td>
    </tr>
    <%})%>
</table>

<%-include('rodape.ejs')%>