<%-include('cabecalho.ejs')%>
<form method="post">
    <div class="form-floating">
        <input type="search" class="form-control" placeholder="Pesquisar" name="pesquisar" id="search">
        <label class="form-label" for="search">Pesquisar</label>
    </div>
    <div>
        <input class="btn btn-outline-primary" type="submit" value="Pesquisar">
    </div>
</form>


<table class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Foto</th>
        <th>Editar</th>
    </tr>
    <% Usuarios.forEach(function(usuario){ %>
    <tr>
        <td><%=usuario.nome%></td>
        <td><%=usuario.email%></td>
        <td>
            <img class="img-thumbnail img-fluid" src="/<%=usuario.foto%>" width="200" alt="Foto do perfil">
        </td>
        <td>
            <a href="/editarusuario/<%=usuario._id%>">Editar</a>
        </td>
    </tr>
    <%})%>
</table>
<%-include('rodape.ejs')%>